.sidebarleft
  margin 20px 0 0 0
  &__menu
    overflow hidden
    &__item
      cursor pointer
      &__name
        padding 3px 0
      &__expandpicto
        position absolute
        width 25px
        text-align center
        & > i
          margin-right 5px
      &__link
        display inline
        white-space nowrap
        margin-left 25px
        color inherit
        &:hover
          text-decoration none
        & > i
          margin-right 8px
          font-size 15px
        & > .fa-bank
          color #ddd
        & > .fa-folder-open-o
          color #cc0
        & > .fa-file-text-o
          color #0c0
        & > .fa-comments-o
          color #328bca
        & > .fa-paperclip
          color orange
a:hover
  color inherit
